<h1>Hi <%=link_to current_user.username, user_path(current_user) %> </h1>
<%=link_to 'Send a Challenge', new_game_path%>  |
<%=link_to 'Send a Message', messages_path%>  |
<a href="/sessions/<%= @current_user_id %>" data-method="delete">Logout</a>

<p>Your Rank:</p>

<h2>Recent Public Messages</h2>

<% @public_messages.each do |message| %>


  <h5><%= message.user.username %>:</h5>
	<p> <%= message.content %> on <%=message.created_at.strftime("%b %e, %l:%M %p")%></p>
<% end %>

<h3>Post to Public</h3>

   <form action='/messages' method='post'>
     <input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>">
     <div>
       <textarea rows="4" cols="50" name='message[content]'></textarea>
     </div>
     <input type='submit' value='Submit'>
   </form>

<h2>Upcoming Games</h2>
  <%@games.each do |game|%>
    <%=game.player_1.username%> vs <%=game.player_2.username%> at <%=game.time.strftime('%b %e, %l:%M %p')%>



  <%end%>
