<nav>
    <div class="nav-wrapper blue">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/games/new">Schedule a new game</a></li>
        <li><a href="/messages">Send a Message</a></li>
        <li><a href="/sessions/<%= @current_user_id %>" data-method="delete">Logout</a></li>
      </ul>
    </div>
  </nav>
<h1>Hi <%=link_to current_user.username, user_path(current_user) %> </h1>

<div class="row">
<div class="leaderboard col s12">
	<h5>Leaderboard:</h5>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Wins</th>
	    <th>Points For</th>
	    <th>Points Against</th>

	  </tr>
	<%@userranks.each do |user|%>
	  <tr>
	    <td><%= user.username %></td>
	    <td><%=user.count_wins %></td>
	    <td><%=user.points_for%></td>
	    <td><%=user.points_against%></td>
	  </tr>

	  <%end%>
	</table>
</div>
</div>


<div>
	<div class="row">
		<div class="messages col s6">
			<h5>Recent Public Messages</h5>
			<% @public_messages.each do |message| %>
				<div class ="col s12">
					<div class="card-panel blue">
						<h5><%= message.user.username%> on <%=message.created_at.strftime("%b %e, %l:%M %p")%> </h5>
						<span class="white-text"> <%= message.content %>
						</span>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col s6">
			<h3>Post A Public Message</h3>

		   <form action='/messages' method='post'>
		     <input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>">
		     <div>
		       <textarea rows="4" cols="50" name='message[content]'></textarea>
		     </div>
		     <input type='submit' value='Submit'>
		   </form>
	   </div>
	</div>
</div>
