<%=@user.username%>




  <%@user.all_games.each do |game|%>
    <p><%=game.player_1.username%> vs <%=game.player_2.username%> @ <%=game.time%></p>

  <%end%>


<p class='errors'><%= flash[:login_error]%>
