
<h3>Request a Game</h3>

<%= form_for(@game) do |f| %>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :alias %><br>
  <%= f.text_field :alias %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>



  <%=f.submit%>
<% end %>
