<!-- update the score of the game -->
<h1> <%= @game.player_1.username %> Vs <%= @game.player_2.username %> </h1>
<p> <%= @game.location %> </p>
<p> <%= @game.time %></p>
<% if @game.winner %>
	<p> winner: <%= @game.winner.username %></p>
<% end %>
<p> <%= @game.player_1_score %></p>
<p> <%= @game.player_2_score %></p>

<h1>Report the score for this game:</h1>
<!-- game.edit function -->
<form action="/games/<%= @game.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<label> <%= @game.player_1.username %> Score: </label>
		<input type="number" name="game[player_1_score]">
	<label> <%= @game.player_2.username %> Score</label>
		<input type="number" name="game[player_2_score]">
	<input type="submit" value="Submit Score">	
</form>