show.html.erb<!-- update the score of the game -->
<h1> <%= @player_1 %> Vs <%= @player_2 %> </h1>
<p> <%= @current_game.location %> </p>
<p> <%= @current_game.time %></p>

<h1>Report the score for this game:</h1>
<!-- game.edit function -->
<form action="/games/<%= @current_game.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<label> <%= @player_1 %> Score: </label>
		<input type="number" name="game[player_1_score]">
	<label> <%= @player_2 %> Score</label>
		<input type="number" name="game[player_2_score]">
	<input type="submit" value="Submit Score">	
</form>